:root {
  --bs-primary: $primary !important;
  --bs-link-color: $primary !important;
}

body {
  font-family: "Oswald", Arial, sans-serif !important;
  background-color: #f1f3ee !important;
}
body section.section-primary {
  background-color: #393d32 !important;
}

.owl-carousel .owl-nav .owl-prev:before {
  border-color: #8a3d0a #8a3d0a #8a3d0a !important;
}
.owl-carousel .owl-nav .owl-prev:after {
  border-color: #8a3d0a #8a3d0a #8a3d0a !important;
}
.owl-carousel .owl-nav .owl-next:before {
  border-color: #8a3d0a #8a3d0a #8a3d0a !important;
}
.owl-carousel .owl-nav .owl-next:after {
  border-color: #8a3d0a #8a3d0a #8a3d0a !important;
}
.owl-carousel .owl-dots .owl-dot.active span {
  background-color: #8a3d0a !important;
}

#header .header-btn-collapse-nav {
  background-color: #d15a0b;
}
#header .header-body {
  background-color: #f1f3ee !important;
}
#header .header-body .img-logo {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  padding-left: 0px;
}
@media screen and (min-width: 768px) {
  #header .header-body {
    padding-left: 50px;
  }
}
#header .header-body nav ul {
  margin-top: 15px;
}
#header .header-body nav ul li {
  padding: 7px 0px;
  background-color: transparent;
}
#header .header-body nav ul li a {
  color: black !important;
  padding: 9px;
}
#header .header-body nav ul li.active {
  background-color: #e4b896;
}
#header .header-body nav ul li.active a {
  color: black;
  background-color: inherit;
}
#header .header-body nav ul li:hover {
  background-color: #e9cbb3 !important;
}
#header .header-body nav ul li.active {
  background-color: #e4b896 !important;
}
@media screen and (min-width: 768px) {
  #header .header-body nav ul {
    height: 70px !important;
    margin-top: 15px;
  }
}

#hero .home-title {
  font-size: 65px !important;
  font-weight: 500 !important;
  letter-spacing: 1px !important;
}

#discover-our-method .img-text {
  display: inline-block;
  width: 10rem;
}
#discover-our-method .title-discover-method {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
}
#discover-our-method .btn-primary {
  background-color: #d15a0b !important;
  border-color: #d15a0b #d15a0b #8a3d0a !important;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.2s ease, visibility 0s;
  min-width: 10px;
  width: 262px;
  height: 40px;
  border-radius: 0;
  padding-top: 5px;
  letter-spacing: 2px;
}
#discover-our-method .btn-primary:hover {
  background-color: transparent !important;
  border-color: black !important;
  color: black !important;
}

#we-care .title-pos {
  text-align: center;
  font-size: 2.7rem !important;
  font-weight: 700 !important;
  letter-spacing: 1px !important;
  color: #d15a0b !important;
}
#we-care .list-pos {
  padding: 0 0px;
}
#we-care .list-pos p {
  color: white !important;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

#benefits .title-benefits {
  color: #2e3023;
  font-size: 2.7rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
}
#benefits .title-benefits .img-text {
  display: inline-block;
  width: 15rem;
  margin-top: -12px;
}
#benefits .sub-title-benefits {
  color: #2e3023;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
}
#benefits .sub-title-benefits .img-text {
  display: inline-block;
  width: 8rem;
  margin-top: -12px;
}
#benefits .text-carousel {
  margin-bottom: 0.5px;
}
#benefits .text-carousel h2 {
  color: #d15a0b !important;
  font-size: 1.2rem !important;
  font-weight: 400;
  margin: 0px;
  line-height: 22px;
  text-justify: inter-word !important;
  width: 100% !important;
  letter-spacing: 0.1px;
}
#benefits .text-carousel p {
  font-family: "Barlow", sans-serif !important;
  color: #393d32 !important;
  font-size: 1.2rem !important;
  font-weight: 400;
  margin: 0px;
  text-align: justify !important;
  text-justify: inter-word !important;
  width: 100% !important;
  letter-spacing: 0.2px;
}
#benefits .text-carousel p .img-text {
  display: inline-block;
  width: 5rem;
  margin-top: -4px;
}

#applications .title-applications {
  color: #2e3023;
  font-size: 2.7rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
}
#applications .title-applications .img-text {
  display: inline-block;
  width: 15rem;
  margin-top: -12px;
}
#applications .sub-title-applications {
  color: #2e3023;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
}
#applications .sub-title-applications .img-text {
  display: inline-block;
  width: 7rem;
  margin-top: 0px;
}
#applications .svg-wrapper {
  width: 25% !important;
  height: auto;
  min-height: 70px;
  margin-bottom: 10px;
}
#applications .application-point-title {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #d15a0b;
  text-align: center;
  margin-bottom: 10px;
  line-height: 28px;
}
#applications .application-point-sub-title {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #393d32;
  text-align: center;
  line-height: normal;
}

#certificates {
  margin-bottom: 0px !important;
  background-color: #393d32 !important;
}
#certificates .title-certificates {
  text-align: center;
  font-size: 2.7rem !important;
  font-weight: 700 !important;
  letter-spacing: 1px !important;
  color: #d15a0b !important;
}
#certificates .sub-title-certificates {
  color: white;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
}
#certificates .sub-title-certificates .img-text {
  display: inline-block;
  width: 7rem;
  margin-top: 0px;
}

#about-us {
  margin-bottom: 0px !important;
  background-color: #393d32 !important;
}
#about-us .title-about-us {
  text-align: center;
  font-size: 2.7rem !important;
  font-weight: 700 !important;
  letter-spacing: 1px !important;
  color: #d15a0b !important;
}
#about-us .sub-title-about-us p {
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
}
#about-us .sub-title-about-us p .img-text {
  display: inline-block;
  width: 5rem;
  margin-top: 0px;
}

#mission .flask {
  background: white url("../img/COCO-flask.jpeg") no-repeat left center;
  background-size: cover;
  height: 500px;
}
#mission .title-mission {
  text-align: center;
  font-size: 2.7rem !important;
  font-weight: 700 !important;
  letter-spacing: 1px !important;
  color: #d15a0b !important;
}
#mission .sub-title-mission {
  color: #393d32;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: normal;
}
#mission .sub-title-mission li {
  line-height: 30px !important;
}
#mission .sub-title-mission .img-text {
  display: inline-block;
  width: 5rem;
  margin-top: 0px;
}

#footer {
  margin-top: 0px;
  background-color: #393d32;
  border-top: 2px white solid !important;
}
#footer .title {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}
#footer ul li {
  font-family: "Barlow", sans-serif !important;
  font-size: 1rem !important;
  color: #d15a0b !important;
}
#footer ul li a {
  font-family: "Barlow", sans-serif !important;
  font-size: 1rem !important;
  color: #d15a0b !important;
}
#footer ul li a:hover {
  color: #e9cbb3 !important;
}
#footer .footer-copyright {
  background-color: #393d32 !important;
  border-top: 2px white solid !important;
}
#footer .footer-copyright p {
  font-family: "Oswald", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 1rem;
}

#our-story {
  margin-bottom: 0px !important;
  background-color: #f1f3ee !important;
  background: url("../img/bg-our-story.jpg") no-repeat left top;
  background-size: 620px;
  width: 100%;
}
#our-story .custom-card {
  background-color: #393d32;
}
#our-story .custom-card .custom-card-body {
  padding: 20px;
}
@media screen and (min-width: 768px) {
  #our-story .custom-card .custom-card-body {
    padding: 50px;
  }
}
#our-story .custom-card .custom-card-body h1.title-our-story {
  text-align: left;
  font-size: 2.4rem !important;
  font-weight: 500 !important;
  letter-spacing: 1px !important;
  color: #d15a0b !important;
  margin: 0 0 14px 0 !important;
  line-height: 44px;
}
#our-story .custom-card .custom-card-body .sub-title-our-story {
  font-family: "Barlow", sans-serif;
  color: white;
  font-size: 1rem !important;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 20px;
}
#our-story .custom-card .custom-card-body .sub-title-our-story .img-text {
  display: inline-block;
  width: 5rem;
  margin-top: 0px;
}

#story-1 {
  margin: 0px;
}
#story-1 .story-wrapper {
  padding: 20px;
}
@media screen and (min-width: 768px) {
  #story-1 .story-wrapper {
    padding: 0px 150px 20px 150px;
  }
}
#story-1 .story-wrapper h1.title-story-1 {
  text-align: left;
  font-size: 2.4rem !important;
  font-weight: 500 !important;
  letter-spacing: 1px !important;
  color: #d15a0b !important;
  margin-bottom: 14px !important;
  line-height: 44px;
}
#story-1 .story-wrapper .sub-title-story-1 {
  font-family: "Barlow", sans-serif;
  color: white;
  font-size: 1rem !important;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 14px;
}
#story-1 .story-wrapper .sub-title-story-1 .img-text {
  display: inline-block;
  width: 5rem;
  margin-top: 0px;
}

#our-method {
  margin-bottom: 0px !important;
  background-color: #393d32 !important;
}
#our-method .title-our-method {
  text-align: center;
  font-size: 2.7rem !important;
  font-weight: 700 !important;
  letter-spacing: 1px !important;
  color: #d15a0b !important;
}

.timeline {
  background-color: #eef0e9;
  margin: 0px !important;
  padding: 50px 0px 5px 0px !important;
}
.timeline .timeline-box:before {
  background: #d15a0b !important;
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #d15a0b !important;
}
.timeline .timeline-box {
  border: 2px solid #d15a0b !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.timeline .timeline-box h2 {
  color: #d15a0b;
  font-weight: 500 !important;
  letter-spacing: normal;
}
.timeline .timeline-box p {
  font-family: "Barlow", sans-serif;
  font-weight: 600 !important;
  letter-spacing: normal;
  text-align: justify;
  color: #393d32 !important;
}
.timeline .timeline-box.left h2 {
  text-align: left;
}
.timeline .timeline-box.left .timeline-box-arrow {
  border-top: 2px solid #d15a0b !important;
  border-right: 2px solid #d15a0b !important;
}
.timeline .timeline-box.right h2 {
  text-align: right;
}
.timeline .timeline-box.right .timeline-box-arrow {
  border-bottom: 2px solid #d15a0b !important;
  border-left: 2px solid #d15a0b !important;
}
.timeline .timeline-date {
  background: none !important;
  border: none !important;
  width: 100% !important;
  margin-bottom: 50px !important;
}
.timeline .timeline-date .btn-primary {
  background-color: #d15a0b !important;
  border-color: #d15a0b #d15a0b #8a3d0a !important;
  font-family: "Barlow", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.2s ease, visibility 0s;
  min-width: 10px;
  width: 262px;
  height: 40px;
  border-radius: 0;
  padding-top: 5px;
  letter-spacing: 2px;
}
.timeline .timeline-date .btn-primary:hover {
  background-color: transparent !important;
  border-color: black !important;
  color: black !important;
}

#compete-system .title-compete-system {
  color: #2e3023;
  font-size: 2.7rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
#compete-system .title-compete-system .img-text {
  display: inline-block;
  width: 15rem;
  margin-top: -12px;
}
#compete-system p {
  font-family: "Barlow", sans-serif;
  font-weight: 600 !important;
  letter-spacing: normal;
  text-align: left;
  color: #393d32 !important;
  font-size: 1rem;
}
#compete-system p .img-text {
  display: inline-block;
  width: 5rem;
  margin-top: -5px;
  margin-left: 5px;
  margin-right: 5px;
}
#compete-system ul > li {
  font-family: "Barlow", sans-serif;
  font-weight: 600 !important;
  letter-spacing: normal;
  text-align: left;
  color: #393d32 !important;
  font-size: 1rem;
}

#nutritional-properties {
  margin-bottom: 0px !important;
  background-color: #393d32 !important;
}
#nutritional-properties .title-nutritional-properties {
  text-align: center;
  font-size: 2.7rem !important;
  font-weight: 700 !important;
  letter-spacing: 1px !important;
  color: #d15a0b !important;
}
#nutritional-properties .subtitle-nutritional-properties {
  text-align: center;
  font-size: 1.5rem !important;
  font-weight: 400 !important;
  letter-spacing: 1px !important;
  color: white !important;
}
#nutritional-properties .subtitle-nutritional-properties .img-text {
  display: inline-block;
  width: 9rem;
  margin-top: -8px !important;
}

#nutritional-table {
  margin-bottom: 0px !important;
  background-color: #f1f3ee !important;
}
#nutritional-table .title-nutritional-properties {
  text-align: center;
  font-size: 2.7rem !important;
  font-weight: 700 !important;
  letter-spacing: 1px !important;
  color: #d15a0b !important;
}
#nutritional-table .subtitle-nutritional-properties {
  text-align: center;
  font-size: 1.5rem !important;
  font-weight: 400 !important;
  letter-spacing: 1px !important;
  color: white !important;
}
#nutritional-table .subtitle-nutritional-properties .img-text {
  display: inline-block;
  width: 9rem;
  margin-top: -8px !important;
}
#nutritional-table .text-info-1 {
  color: white !important;
  margin: 0px;
  font-size: 1rem;
}
#nutritional-table .text-info-2 {
  color: black !important;
  margin: 10px;
  font-size: 1rem;
}
#nutritional-table .li-info {
  color: black !important;
  margin: 10px;
  font-size: 1rem;
}
#nutritional-table .li-info .img-text {
  display: inline-block;
  width: 5rem;
  margin-top: -5px;
}
#nutritional-table .card {
  background-color: #393d32;
}
#nutritional-table .card table thead tr th {
  color: #d15a0b;
  font-size: 0.8rem;
}
#nutritional-table .card table tbody tr td {
  color: white;
  font-size: 0.8rem;
}
@media screen and (min-width: 768px) {
  #nutritional-table .card table thead tr th {
    color: #d15a0b;
    font-size: 1.1rem;
  }
  #nutritional-table .card table tbody tr td {
    color: white;
    font-size: 1rem;
  }
}

#contact-us h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: normal;
}
#contact-us p {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: normal;
  color: #393d32;
}
#contact-us a {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: normal;
  color: #393d32;
}
#contact-us .secondary {
  background-color: #393d32;
  padding: 40px;
}
#contact-us .secondary label {
  font-size: 1rem;
  color: white;
  font-family: "Barlow", sans-serif;
  margin-bottom: 5px;
}
#contact-us .secondary input {
  font-size: 0.8rem;
  color: white;
  font-family: "Barlow", sans-serif;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 0;
}
#contact-us .secondary textarea {
  font-size: 0.8rem;
  color: white;
  font-family: "Barlow", sans-serif;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 0;
}
#contact-us .secondary .btn-primary {
  font-family: "Barlow", sans-serif;
  background-color: #d15a0b;
  border-radius: 0;
  border: 1px solid #8a3d0a;
  letter-spacing: normal;
  font-weight: 700 !important;
  font-size: 1rem;
}
#contact-us .secondary .btn-primary:hover {
  font-family: "Barlow", sans-serif;
  background-color: transparent;
  border-radius: 0;
  border: 1px solid #8a3d0a;
}

/*# sourceMappingURL=custom.css.map */
