// @import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// $primary: #d15a0b;
$primary: #ff6601;
$secondary: #393d32;
$link-primary: #eb5e00;
$link-primary-hover: #ff7519;
// $btn-primary: #d15a0b;
$btn-primary: #ff6601;
// $btn-border-1: #d15a0b;
$btn-border-1: #ff6601;
// $btn-border-2: #8a3d0a;
$btn-border-2: #cd5200;
$base: #f1f3ee;

:root {
  --bs-primary: $primary !important;
  --bs-link-color: $primary !important;
}

html,
body {
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px !important;
  line-height: 2rem;
  background-color: $base !important;

  section.section-primary {
    background-color: #393d32 !important;
  }
}

.owl-carousel {
  .owl-nav {
    .owl-prev:before {
      border-color: $btn-border-2 $btn-border-2 $btn-border-2 !important;
    }
    .owl-prev:after {
      border-color: $btn-border-2 $btn-border-2 $btn-border-2 !important;
    }
    .owl-next:before {
      border-color: $btn-border-2 $btn-border-2 $btn-border-2 !important;
    }
    .owl-next:after {
      border-color: $btn-border-2 $btn-border-2 $btn-border-2 !important;
    }
  }

  .owl-dots {
    .owl-dot.active span {
      background-color: $btn-border-2 !important;
    }
  }
}

#header {
  .header-btn-collapse-nav {
    background-color: $primary;
  }

  .header-body {
    background-color: #f1f3ee !important;

    .img-logo {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 200px;
      padding-left: 0px;
    }

    nav {
      padding: 0px;
      ul {
        margin-top: 15px;

        li {
          padding: 5px 0px;
          background-color: transparent;
          margin-top: 0px;
          margin-left: 0px;

          a {
            color: black !important;
            padding: 7px;
            display: block !important;
            width: 100%;
            min-height: 100%;
            margin: 0px !important;
          }
        }

        li.active {
          background-color: $link-primary;

          a {
            color: white !important;
            background-color: inherit;
            font-weight: 700;
          }
        }

        li:hover {
          background-color: $link-primary-hover !important;
          a {
            background-color: $link-primary-hover !important;
          }
        }

        li.active {
          background-color: $link-primary !important;
        }
      }

      @media screen and (min-width: 768px) {
        ul {
          height: 70px !important;
          margin-top: 15px;

          li {
            padding: 7px 0px;
            background-color: transparent;
            margin-top: 0px;
            margin-left: 0px;

            a {
              color: black !important;
              padding: 7px;
              display: block !important;
              width: 100%;
              min-height: 100%;
              margin: 16px 0 0 !important;
            }
          }

          li.active {
            background-color: $link-primary;

            a {
              color: white !important;
              background-color: inherit;
              font-weight: 700;
            }
          }
        }
      }
    }

    @media screen and (min-width: 768px) {
      padding-left: 50px;
    }
  }
}

#hero {
  margin: 0px;

  .home-title {
    font-size: 2.4rem !important;
    font-weight: 700 !important;
    letter-spacing: 4px !important;
    max-width: 100% !important;
  }

  @media screen and (min-width: 768px) {
    .home-title {
      font-size: 3rem !important;
      font-weight: 700 !important;
      letter-spacing: 1px !important;
      max-width: 100% !important;
    }
  }
}

#discover-our-method {
  background-color: $base;
  padding-top: 50px;
  padding-bottom: 50px;

  .img-text {
    display: inline-block;
    width: 5rem;
    margin-top: -5px;
  }

  .title-discover-method {
    font-size: 1rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: normal;
  }

  @media screen and (min-width: 768px) {
    .img-text {
      display: inline-block;
      width: 6rem;
      margin-top: -8px;
    }

    .title-discover-method {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 2rem;
      letter-spacing: normal;
    }
  }

  .btn-primary {
    background-color: $btn-primary !important;
    border-color: $btn-border-1 $btn-border-1 $btn-border-2 !important;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.2s ease, visibility 0s;
    min-width: 10px;
    width: 262px;
    height: 40px;
    border-radius: 0;
    padding-top: 5px;
    letter-spacing: 2px;
  }

  .btn-primary:hover {
    background-color: transparent !important;
    border-color: black !important;
    color: black !important;
  }
}

#we-care {
  margin-top: 0px;

  .title-pos {
    text-align: center;
    font-size: 1.5rem !important;
    line-height: 2rem;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    color: $primary !important;
  }

  .list-pos {
    padding: 0 0px;

    p {
      color: white !important;
      font-size: 1rem;
      line-height: 2rem;
      font-weight: 500;
    }
  }

  @media screen and (min-width: 768px) {
    .title-pos {
      text-align: center;
      font-size: 2.3rem !important;
      font-weight: 700 !important;
      letter-spacing: 1px !important;
      color: $primary !important;
      line-height: 2rem;
    }
  }
}

#benefits {
  background-color: $base;
  padding-top: 50px;
  padding-bottom: 50px;

  .title-benefits {
    color: black;
    font-size: 1.5rem !important;
    line-height: 2rem;
    font-weight: 700;
    letter-spacing: normal;
    margin-bottom: 10px;

    .img-text {
      display: inline-block;
      width: 6rem;
      margin-top: -5px;
    }
  }

  .sub-title-benefits {
    color: black;
    font-size: 1rem !important;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: normal;

    .img-text {
      display: inline-block;
      width: 4rem;
      margin-top: -5px;
    }
  }

  .text-carousel {
    margin-bottom: 0.5px;

    h2 {
      color: $primary !important;
      font-size: 1.5rem !important;
      line-height: 2rem;
      margin: 0px;
      text-justify: inter-word !important;
      width: 100% !important;
      letter-spacing: 0.1px;
      margin-bottom: 10px;
    }

    p {
      color: $secondary !important;
      font-size: 1rem !important;
      line-height: 2rem;
      font-weight: 500;
      margin: 0px;
      text-align: center !important;
      text-justify: inter-word !important;
      width: 100% !important;
      letter-spacing: normal;

      .img-text {
        display: inline-block;
        width: 4rem;
        margin-top: -5px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .title-benefits {
      color: black;
      font-size: 2.3rem !important;
      line-height: 2rem !important;
      font-weight: 700;
      letter-spacing: normal;
      margin-bottom: 0.5rem !important;

      .img-text {
        display: inline-block;
        width: 9rem;
        margin-top: -8px;
      }
    }

    .sub-title-benefits {
      color: black;
      font-size: 1.2rem !important;
      line-height: 2rem;
      font-weight: 500;
      letter-spacing: normal;

      .img-text {
        display: inline-block;
        width: 6rem;
        margin-top: -4px;
      }
    }

    .text-carousel {
      margin-bottom: 0.5px;

      h2 {
        color: $primary !important;
        font-size: 1.4rem !important;
        margin: 0px;
        line-height: 2rem;
        text-justify: inter-word !important;
        width: 100% !important;
        letter-spacing: 0.1px;
      }

      p {
        // font-family: "Barlow", sans-serif !important;
        color: $secondary !important;
        font-size: 1rem !important;
        font-weight: 500;
        margin: 0px;
        text-align: justify !important;
        text-justify: inter-word !important;
        width: 100% !important;
        letter-spacing: 0.2px;

        .img-text {
          display: inline-block;
          width: 5rem;
          margin-top: -4px;
        }
      }
    }
  }
}

#applications {
  .title-applications {
    color: black;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    letter-spacing: normal;
    margin-bottom: 7px !important;
  }

  .sub-title-applications {
    color: black;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: normal;

    .img-text {
      display: inline-block;
      width: 4rem;
      margin-top: -5px;
    }
  }

  @media screen and (min-width: 768px) {
    .title-applications {
      color: black;
      font-size: 2.3rem;
      font-weight: 700;
      line-height: 2rem;
      letter-spacing: normal;
      margin-bottom: 0.5rem !important;
    }

    .sub-title-applications {
      color: black;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: normal;
      letter-spacing: normal;

      .img-text {
        display: inline-block;
        width: 6rem;
        margin-top: -4px;
      }
    }
  }

  .svg-wrapper {
    width: 25% !important;
    height: auto;
    min-height: 70px;
    margin-bottom: 10px;
  }

  .application-point-title {
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: $primary;
    text-align: center;
    margin-bottom: 10px;
    line-height: 2rem;
  }

  .application-point-sub-title {
    // font-family: "Barlow", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: black;
    text-align: center;
    line-height: 2rem;
  }
}

#certificates {
  margin-bottom: 0px !important;
  background-color: $secondary !important;

  .title-certificates {
    text-align: center;
    font-size: 1.5rem !important;
    line-height: 2rem;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    color: $primary !important;
  }

  .sub-title-certificates {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: normal;

    .img-text {
      display: inline-block;
      width: 5rem;
      margin-top: -5px;
    }
  }

  @media screen and (min-width: 768px) {
    .title-certificates {
      text-align: center;
      font-size: 2.3rem !important;
      font-weight: 700 !important;
      letter-spacing: 1px !important;
      color: $primary !important;
      line-height: 2rem;
      margin-bottom: 0.5rem !important;
    }

    .sub-title-certificates {
      color: white;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 2rem;
      letter-spacing: normal;

      .img-text {
        display: inline-block;
        width: 6rem;
        margin-top: -4px;
      }
    }
  }
}

#about-us {
  margin-bottom: 0px !important;
  background-color: $secondary !important;

  .card-blur {
    background-color: rgba($color: #000000, $alpha: 0.4);
    padding: 2rem;
    border-radius: 25px;
  }

  .title-about-us {
    text-align: center;
    font-size: 1.5rem !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    color: $primary !important;
  }

  .sub-title-about-us {
    p {
      color: white;
      font-size: 1rem;
      font-weight: 500;
      line-height: 2rem;
      letter-spacing: normal;

      .img-text {
        display: inline-block;
        width: 4rem;
        margin-top: -5px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .title-about-us {
      text-align: center;
      font-size: 2.3rem !important;
      font-weight: 700 !important;
      letter-spacing: 1px !important;
      color: $primary !important;
    }

    .sub-title-about-us {
      p {
        color: white;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2rem;
        letter-spacing: normal;

        .img-text {
          display: inline-block;
          width: 5rem;
          margin-top: 0px;
        }
      }
    }
  }
}

#mission {
  .mission-image {
    background: white url("../img/img-mission.png") no-repeat;
    background-position: center !important;
    background-size: contain;
    height: 400px;

    @media screen and (min-width: 768px) {
      background-size: cover;
      height: 500px;
    }
  }

  .vision-image {
    background: white url("../img/img-vision.png") no-repeat;
    background-position: center !important;
    background-size: contain;
    height: 400px;

    @media screen and (min-width: 768px) {
      background-size: cover;
      height: 500px;
    }
  }

  .title-mission {
    text-align: center;
    font-size: 1.5rem !important;
    line-height: 2rem !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    color: $primary !important;
    margin: 1rem 0rem 1rem 0rem;
  }

  .sub-title-mission {
    color: black;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: normal;

    li {
      line-height: 2rem !important;
    }

    .img-text {
      display: inline-block;
      width: 4rem;
      margin-top: -5px;
    }
  }

  @media screen and (min-width: 768px) {
    .title-mission {
      text-align: center;
      font-size: 2.3rem !important;
      font-weight: 700 !important;
      letter-spacing: 1px !important;
      color: $primary !important;
      line-height: 2rem !important;
    }

    .sub-title-mission {
      color: black;
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: normal;
      line-height: 2rem !important;

      li {
        line-height: 2rem !important;
      }

      .img-text {
        display: inline-block;
        width: 4rem;
        margin-top: -5px;
      }
    }
  }
}

#footer {
  margin-top: 0px;
  background-color: $secondary;
  border-top: 2px white solid !important;

  .title {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    text-align: center;
  }

  ul {
    li {
      // font-family: "Barlow", sans-serif !important;
      font-size: 1rem !important;
      color: $primary !important;
      font-weight: 700;
      text-align: center;
    }

    li {
      a {
        // font-family: "Barlow", sans-serif !important;
        font-size: 1.2rem !important;
        color: $primary !important;
        font-weight: 700;
        text-align: center !important;
      }

      a:hover {
        color: $link-primary-hover !important;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .title {
      font-family: "Montserrat", sans-serif !important;
      font-size: 1.5rem;
      font-weight: 400;
      color: white;
      text-align: left;
    }

    ul {
      li {
        // font-family: "Barlow", sans-serif !important;
        font-size: 1.2rem !important;
        color: $primary !important;
        font-weight: 700;
        text-align: left;
      }

      li {
        a {
          // font-family: "Barlow", sans-serif !important;
          font-size: 1.2rem !important;
          color: $primary !important;
          font-weight: 700;
          text-align: left;
        }

        a:hover {
          color: $link-primary-hover !important;
        }
      }
    }
  }

  .footer-copyright {
    background-color: $secondary !important;
    border-top: 2px white solid !important;

    p {
      font-family: "Montserrat", sans-serif;
      color: white;
      font-weight: 400;
      font-size: 1rem;
    }
  }
}

#our-story {
  margin-bottom: 0px !important;
  background-color: $secondary !important;

  .card-blur {
    background-color: rgba($color: #000000, $alpha: 0.6);
    padding: 2rem;
    backdrop-filter: blur(4px);
  }

  .title-our-story {
    text-align: center;
    font-size: 1.5rem !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    color: $primary !important;
  }

  .sub-title-our-story {
    p {
      color: white;
      font-size: 1rem;
      font-weight: 500;
      line-height: 2rem;
      letter-spacing: normal;

      .img-text {
        display: inline-block;
        width: 4rem;
        margin-top: -5px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .title-our-story {
      text-align: center;
      font-size: 2.3rem !important;
      font-weight: 700 !important;
      letter-spacing: 1px !important;
      color: $primary !important;
    }

    .sub-title-our-story {
      p {
        color: white;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2rem;
        letter-spacing: normal;

        .img-text {
          display: inline-block;
          width: 5rem;
          margin-top: 0px;
        }
      }
    }
  }
}

#story-1 {
  .story-1-image {
    background: white url("../img/IMAGE-3.jpg") no-repeat;
    background-position: center !important;
    background-size: cover;
    height: 300px;

    @media screen and (min-width: 768px) {
      background-size: cover;
      height: 500px;
    }
  }

  .title-story-1 {
    text-align: center;
    font-size: 1.5rem !important;
    line-height: 2rem !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    color: $primary !important;
    margin: 1rem 0rem 1rem 0rem;
  }

  .sub-title-story-1 {
    color: black;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 2rem !important;

    .img-text {
      display: inline-block;
      width: 4rem;
      margin-top: -5px;
    }
  }

  @media screen and (min-width: 768px) {
    .title-story-1 {
      text-align: center;
      font-size: 2.3rem !important;
      font-weight: 700 !important;
      letter-spacing: 1px !important;
      color: $primary !important;
      line-height: 2rem !important;
    }

    .sub-title-story-1 {
      color: black;
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: normal;
      line-height: 2rem !important;

      li {
        line-height: 2rem !important;
      }

      .img-text {
        display: inline-block;
        width: 4rem;
        margin-top: -5px;
      }
    }
  }
}

#story-2 {
  margin-bottom: 0px !important;
  background-color: $secondary !important;

  .title-story-2 {
    text-align: center;
    font-size: 1.5rem !important;
    line-height: 2rem;
    font-weight: 700 !important;
    letter-spacing: normal !important;
    color: $primary !important;
    margin: 1rem 0rem 1rem 0rem;
  }

  .sub-title-story-2 {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: normal;
    margin-bottom: 0px;

    .img-text {
      display: inline-block;
      width: 5rem;
      margin-top: -5px;
    }
  }

  @media screen and (min-width: 768px) {
    .title-story-2 {
      text-align: center;
      font-size: 2.3rem !important;
      font-weight: 700 !important;
      letter-spacing: 1px !important;
      color: $primary !important;
      line-height: 2rem;
      margin: 1rem 0rem 1rem 0rem;
    }

    .sub-title-story-2 {
      color: white;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 2rem;
      letter-spacing: normal;

      .img-text {
        display: inline-block;
        width: 6rem;
        margin-top: -4px;
      }
    }
  }
}

#our-method {
  margin-bottom: 0px !important;
  background-color: $secondary !important;

  .title-our-method {
    text-align: center;
    font-size: 1.5rem !important;
    line-height: 2rem !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    color: $primary !important;
  }

  @media screen and (min-width: 768px) {
    .title-our-method {
      text-align: center;
      font-size: 2.6rem !important;
      font-weight: 700 !important;
      letter-spacing: 1px !important;
      color: $primary !important;
    }
  }
}

.timeline {
  .accordion.accordion-modern .card:first-of-type,
  .accordion.accordion-modern .card:not(:first-of-type):not(:last-of-type),
  .accordion.accordion-modern .card:last-of-type {
    border: 0px solid white;
  }

  .accordion .card-header a {
    padding: 10px;
  }

  background-color: $base;
  margin: 0px !important;
  padding: 50px 0px 5px 0px !important;

  .timeline-box:before {
    background: $primary !important;
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px $primary !important;
  }

  .timeline-box {
    border: 2px solid $primary !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

    h2 {
      color: $primary;
      font-size: 1.3rem !important;
      font-weight: 500 !important;
      line-height: 2rem;
      letter-spacing: normal;
    }

    p {
      // font-family: "Barlow", sans-serif;
      font-size: 0.9rem !important;
      font-weight: 500 !important;
      letter-spacing: normal;
      line-height: 2rem;
      text-align: justify;
      color: black !important;
    }
  }

  @media screen and (min-width: 768px) {
    .timeline-box {
      border: 2px solid $primary !important;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

      h2 {
        color: $primary;
        font-size: 1.3rem !important;
        font-weight: 500 !important;
        line-height: 2rem;
        letter-spacing: normal;
      }

      p {
        // font-family: "Barlow", sans-serif;
        font-size: 1rem !important;
        font-weight: 500 !important;
        letter-spacing: normal;
        line-height: 2rem;
        text-align: justify;
        color: black !important;
      }
    }
  }

  .timeline-box.left {
    h2 {
      text-align: left;
    }

    .timeline-box-arrow {
      border-top: 2px solid $primary !important;
      border-right: 2px solid $primary !important;
    }
  }

  .timeline-box.right {
    h2 {
      text-align: right;
    }

    .timeline-box-arrow {
      border-bottom: 2px solid $primary !important;
      border-left: 2px solid $primary !important;
    }
  }

  .timeline-date {
    background: none !important;
    border: none !important;
    width: 100% !important;
    margin-bottom: 50px !important;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.04) !important;

    .btn-primary {
      background-color: $btn-primary !important;
      // border-color: $btn-border-1 $btn-border-1 $btn-border-2 !important;
      border-color: $btn-primary !important;
      // font-family: "Barlow", sans-serif;
      font-size: 1rem;
      font-weight: 500;
      transition: all 0.2s ease, visibility 0s;
      min-width: 10px;
      width: 262px;
      height: 2.5rem !important;
      border-radius: 0;
      padding-top: 5px;
      letter-spacing: 2px;
    }

    @media screen and (min-width: 768px) {
      .btn-primary {
        background-color: $btn-primary !important;
        border-color: $btn-primary !important;
        font-size: 1.1rem;
        font-weight: 500;
        transition: all 0.2s ease, visibility 0s;
        min-width: 10px;
        width: 290px;
        height: 2.5rem !important;
        border-radius: 0;
        padding-top: 5px;
        letter-spacing: 2px;
      }
    }

    .btn-primary:hover {
      background-color: #f1f3ee !important;
      border-color: black !important;
      color: black !important;
    }
  }
}

#compete-system {
  .title-compete-system {
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: normal;
    text-align: center;

    .img-text {
      display: inline-block;
      width: 8rem;
      margin-top: 0px;
    }
  }

  p {
    font-weight: 500 !important;
    letter-spacing: normal;
    text-align: left;
    color: $secondary !important;
    font-size: 1rem;
    line-height: 2rem;

    .img-text {
      display: inline-block;
      width: 4rem;
      margin-top: -5px;
      margin-left: 3px;
      margin-right: 3px;
    }
  }

  ul > li {
    font-weight: 500 !important;
    letter-spacing: normal;
    text-align: left;
    color: $secondary !important;
    font-size: 1rem;
    line-height: 2rem;
  }

  @media screen and (min-width: 768px) {
    .title-compete-system {
      color: black;
      font-size: 2.6rem;
      font-weight: 700;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;

      .img-text {
        display: inline-block;
        width: 10rem;
        margin-top: -8px;
      }
    }

    p {
      font-weight: 500 !important;
      letter-spacing: normal;
      text-align: left;
      color: $secondary !important;
      font-size: 1.2rem;
      line-height: 2rem;

      .img-text {
        display: inline-block;
        width: 5rem;
        margin-top: -4px;
        margin-left: 3px;
        margin-right: 3px;
      }
    }

    ul > li {
      font-weight: 500 !important;
      letter-spacing: normal;
      text-align: left;
      color: $secondary !important;
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }
}

#nutritional-properties {
  margin-bottom: 0px !important;
  background-color: $secondary !important;

  .title-nutritional-properties {
    text-align: center;
    font-size: 1.5rem !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    color: $primary !important;
    line-height: 2rem;
  }

  .subtitle-nutritional-properties {
    text-align: center;
    font-size: 1rem !important;
    font-weight: 500 !important;
    letter-spacing: 1px !important;
    color: white !important;
    line-height: 2rem;

    .img-text {
      display: inline-block;
      width: 5rem;
      margin-top: -5px !important;
    }
  }

  @media screen and (min-width: 768px) {
    .title-nutritional-properties {
      text-align: center;
      font-size: 2.6rem !important;
      font-weight: 700 !important;
      letter-spacing: 1px !important;
      color: $primary !important;
    }

    .subtitle-nutritional-properties {
      text-align: center;
      font-size: 1.5rem !important;
      font-weight: 400 !important;
      letter-spacing: 1px !important;
      color: white !important;

      .img-text {
        display: inline-block;
        width: 9rem;
        margin-top: -8px !important;
      }
    }
  }
}

#nutritional-table {
  margin-bottom: 0px !important;
  background-color: #f1f3ee !important;

  .title-nutritional-properties {
    text-align: center;
    font-size: 2.6rem !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    color: $primary !important;
  }

  .subtitle-nutritional-properties {
    text-align: center;
    font-size: 1.5rem !important;
    font-weight: 400 !important;
    letter-spacing: 1px !important;
    color: white !important;

    .img-text {
      display: inline-block;
      width: 9rem;
      margin-top: -8px !important;
    }
  }

  .text-info-1 {
    color: white !important;
    margin: 0px;
    font-size: 1rem;
  }

  .text-info-2 {
    color: black !important;
    margin: 10px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 2rem;
  }

  .li-info {
    color: black !important;
    margin: 10px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 2rem;

    .img-text {
      display: inline-block;
      width: 5rem;
      margin-top: -5px;
    }
  }

  @media screen and (min-width: 768px) {
    .text-info-2 {
      font-size: 1.2rem !important;
    }

    .li-info {
      color: black !important;
      margin: 10px;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 2rem;

      .img-text {
        display: inline-block;
        width: 5rem;
        margin-top: -4px;
      }
    }
  }

  .card {
    background-color: $secondary;

    .img-text {
      display: inline-block;
      width: 4rem;
      height: 100%;
      margin-top: -4px !important;
      // margin-left: 10px;
    }

    .dataTables_length {
      color: whitesmoke;
    }

    .table_filter {
      color: whitesmoke !important;
    }

    .dataTables_filter {
      color: whitesmoke !important;
    }

    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus,
    .pagination .page-item.active .page-link {
      background-color: $btn-border-1 !important;
      border-color: $btn-border-2;
      color: whitesmoke;
    }

    .pagination > a,
    .pagination > a:hover,
    .pagination > a:focus,
    .pagination > li > a,
    .pagination > li > span,
    .pagination > li > a:hover,
    .pagination > li > span:hover,
    .pagination > li > a:focus,
    .pagination > li > span:focus {
      color: $primary;
    }

    #table_info {
      color: white !important;
    }

    table {
      position: relative;
      border-collapse: collapse;

      thead {
        background-color: $primary;

        tr {
          th {
            color: whitesmoke !important;
            font-size: 0.8rem !important;
            position: sticky !important;
            top: 0px !important;
            box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4) !important;
            border-color: whitesmoke;
          }
        }
      }

      tbody {
        tr {
          td {
            color: white;
            font-size: 0.8rem;
            border-color: whitesmoke;
          }
        }
      }
    }

    @media screen and (min-width: 768px) {
      table {
        thead {
          tr {
            th {
              color: $primary;
              font-size: 1.2rem;
            }
          }
        }

        tbody {
          tr {
            td {
              color: white;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}

#contact-us {
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: normal;
  }

  @media screen and (min-width: 768px) {
    h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 2.4rem;
      font-weight: 500;
      letter-spacing: normal;
    }

    .p-md-5 {
      padding: 10rem !important;
    }
  }

  p {
    // font-family: "Barlow", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: normal;
    color: #393d32;
  }

  a {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: normal;
    color: #393d32;
  }

  @media screen and (min-width: 768px) {
    a {
      // font-family: "Barlow", sans-serif;
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: normal;
      color: #393d32;
    }
  }

  .secondary {
    background-color: $secondary;
    padding: 40px;

    label {
      font-size: 1rem;
      color: white;
      // font-family: "Barlow", sans-serif;
      margin-bottom: 5px;
    }

    input {
      font-size: 0.8rem;
      color: white;
      // font-family: "Barlow", sans-serif;
      border: 1px solid white;
      background-color: transparent;
      border-radius: 0;
    }

    textarea {
      font-size: 0.8rem;
      color: white;
      // font-family: "Barlow", sans-serif;
      border: 1px solid white;
      background-color: transparent;
      border-radius: 0;
    }

    .btn-primary {
      // font-family: "Barlow", sans-serif;
      background-color: $primary;
      border-radius: 0;
      border: 1px solid $btn-border-2;
      letter-spacing: normal;
      font-weight: 700 !important;
      font-size: 1rem;
    }

    .btn-primary:hover {
      // font-family: "Barlow", sans-serif;
      background-color: transparent;
      border-radius: 0;
      border: 1px solid $btn-border-2;
    }
  }
}

a.scroll-to-top:hover {
  color: $link-primary-hover;
}
