// @import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// $primary: #d15a0b;
$primary: #d15a0b;
$secondary: #2e3023;
$link-primary: #eb5e00;
$link-primary-hover: #e4b896;
// $btn-primary: #d15a0b;
$btn-primary: #d15a0b;
// $btn-border-1: #d15a0b;
$btn-border-1: #d15a0b;
// $btn-border-2: #8a3d0a;
$btn-border-2: #cd5200;
$base: #f1f3ee;

:root {
  --bs-primary: $primary !important;
  --bs-link-color: $primary !important;
}

html,
body {
  font-family: "Oswald", "Montserrat", sans-serif !important;
  // font-family: "Montserrat", sans-serif !important;
  font-size: 14px !important;
  line-height: normal;
  background-color: $base !important;

  section.section-primary {
    background-color: #f1f3ee !important;
  }
}

.btn-primary {
  background-color: $primary !important;
  border-radius: 0;
  border: 1px solid $btn-border-2 !important;
  letter-spacing: normal;
  font-weight: 600 !important;
  font-size: 1.2rem;
  font-family: "Barlow", sans-serif !important;
  padding: 5px 60px;
}

.btn-primary:hover {
  color: #2e3023 !important;
  background-color: transparent !important;
  border-radius: 0;
  border: 1px solid $btn-border-2 !important;
}

.owl-carousel {
  .owl-nav {
    .owl-prev:before {
      border-color: $btn-border-2 $btn-border-2 $btn-border-2 !important;
    }
    .owl-prev:after {
      border-color: $btn-border-2 $btn-border-2 $btn-border-2 !important;
    }
    .owl-next:before {
      border-color: $btn-border-2 $btn-border-2 $btn-border-2 !important;
    }
    .owl-next:after {
      border-color: $btn-border-2 $btn-border-2 $btn-border-2 !important;
    }
  }

  .owl-dots {
    .owl-dot.active span {
      background-color: $btn-border-2 !important;
    }
  }
}

#header {
  .header-btn-collapse-nav {
    background-color: $primary;
  }

  .header-body {
    background-color: #f1f3ee !important;

    .img-logo {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 200px;
      padding-left: 0px;
    }

    nav {
      padding: 0px;
      ul {
        margin-top: 15px;

        li {
          padding: 5px 0px;
          background-color: transparent;
          margin-top: 0px;
          margin-left: 0px;

          a {
            color: #2e3023 !important;
            padding: 7px;
            display: block !important;
            width: 100%;
            min-height: 100%;
            margin: 0px !important;
          }
        }

        li.active {
          background-color: $link-primary;

          a {
            color: white !important;
            background-color: inherit;
            font-weight: 700;
          }
        }

        li:hover {
          background-color: $link-primary-hover !important;
          a {
            background-color: $link-primary-hover !important;
          }
        }

        li.active {
          background-color: $link-primary !important;
        }
      }

      @media screen and (min-width: 768px) {
        ul {
          height: 70px !important;
          margin-top: 15px;

          li {
            padding: 7px 0px;
            background-color: transparent;
            margin-top: 0px;
            margin-left: 0px;

            a {
              color: #2e3023 !important;
              padding: 7px;
              display: block !important;
              width: 100%;
              min-height: 100%;
              margin: 16px 0 0 !important;
            }
          }

          li.active {
            background-color: $link-primary;

            a {
              color: white !important;
              background-color: inherit;
              font-weight: 700;
            }
          }
        }
      }
    }

    @media screen and (min-width: 768px) {
      padding-left: 50px;
    }
  }
}

#hero {
  margin: 0px;
  padding: 200px 0 !important;

  .home-title {
    font-size: 3.1rem !important;
    font-weight: 400 !important;
    letter-spacing: 1px !important;
    max-width: 100% !important;
  }

  .page-header-background-custom {
    min-height: 300px;
  }

  @media screen and (min-width: 768px) {
    padding: 225px 0 !important;

    .home-title {
      font-size: 4.666rem !important;
      font-weight: 500 !important;
      letter-spacing: 1px !important;
      max-width: 100% !important;
    }
  }
}

#discover-our-method {
  .discover-our-method-image {
    // background: white url("../img/intro-img.webp") no-repeat;
    background: white url("../img/IMAGEX.jpg") no-repeat;
    background-position: top center !important;
    background-size: cover;
    height: 400px;

    @media screen and (min-width: 768px) {
      background-position: center !important;
      background-size: cover;
      height: 500px;
    }
  }

  .sub-title-discover-our-method {
    color: #2e3023;
    font-size: 1.2rem !important;
    line-height: 2rem !important;
    font-weight: 500 !important;
    letter-spacing: normal;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;

    .img-text {
      display: inline-block;
      width: 6rem;
      margin-top: -4px;
    }
  }

  @media screen and (min-width: 768px) {
    .sub-title-discover-our-method {
      color: #2e3023;
      font-size: 1.5rem !important;
      // line-height: 2rem !important;
      font-weight: 400;
      letter-spacing: normal;
      margin-bottom: 1rem !important;

      .img-text {
        display: inline-block;
        width: 6rem;
        margin-top: -4px;
      }
    }
  }
}

#we-care {
  margin-top: 0px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e3023;

  .title-pos {
    font-family: "Oswald", sans-serif;
    color: $primary !important;
    text-align: center;
    font-size: 2rem !important;
    line-height: 2.3rem;
    font-weight: 700 !important;
    letter-spacing: normal !important;
  }

  .list-pos {
    padding: 0 0px;

    p {
      font-family: "Montserrat", sans-serif;
      color: whitesmoke !important;
      font-size: 1.2rem;
      line-height: 2rem;
      font-weight: 500;
    }
  }

  @media screen and (min-width: 768px) {
    .title-pos {
      font-family: "Oswald", sans-serif;
      text-align: center;
      font-size: 3rem !important;
      font-weight: 600 !important;
      letter-spacing: 1px !important;
      color: $primary !important;
      line-height: 2rem;
      margin-top: 1rem !important;
    }
  }
}

#benefits {
  background-color: $base;
  padding-top: 50px;
  padding-bottom: 50px;

  .title-benefits {
    color: #2e3023;
    font-size: 2rem !important;
    line-height: 2.3rem !important;
    font-weight: 700;
    letter-spacing: normal;
    margin-bottom: 2rem !important;

    .img-text {
      display: inline-block;
      width: 9rem;
      margin-top: 0px;
    }
  }

  .sub-title-benefits {
    color: #2e3023;
    font-size: 1.2rem !important;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: normal;
    margin-bottom: 2rem;

    .img-text {
      display: inline-block;
      width: 6rem;
      margin-top: -5px;
    }
  }

  .nav-pills {
    .nav-link {
      padding: 1.5rem 0.5rem 1.5rem 0.5rem;
      border-radius: 0px;
      text-decoration: none;
      transition: all 0.4s linear;
      text-align: center;
      width: 100%;

      i {
        font-size: 3rem !important;
        text-align: center;
        color: #2e3023 !important;
        margin-bottom: 10px;
      }

      p {
        font-size: 1.3rem !important;
        font-weight: 600;
        text-align: center;
        margin-bottom: 5px;
        color: #2e3023 !important;
        transition: all 0.2s linear;
      }

      p.small {
        font-family: "Barlow";
        font-size: 1.1rem !important;
        font-weight: 400 !important;
        text-align: center;
        margin-bottom: 0px;
        line-height: 17px !important;
      }
    }

    .nav-link:hover {
      padding: 1.5rem 0.5rem 1.5rem 0.5rem;
      border-radius: 0px;
      text-decoration: none;
      transition: all 0.2s linear;

      i {
        font-size: 5rem;
        text-align: center;
        color: $primary;
        margin-bottom: 10px;
        transition: all 0.2s linear;
      }

      p {
        font-size: 1.3rem !important;
        font-weight: 600;
        text-align: center;
        margin-bottom: 5px;
        transition: all 0.2s linear;
      }

      p.small {
        font-family: "Barlow";
        font-size: 1.1rem !important;
        font-weight: 400 !important;
        text-align: center;
        margin-bottom: 0px;
        line-height: 17px !important;
      }
    }

    .nav-link.active {
      padding: 1.5rem 0.5rem 1.5rem 0.5rem;
      text-decoration: none;
      background-color: $primary;

      img {
        filter: brightness(0) invert(1);
      }

      p {
        font-size: 1.3rem !important;
        font-weight: 600;
        color: white !important;
        text-align: center;
        margin-bottom: 5px;
      }

      p.small {
        font-family: "Barlow";
        font-size: 1.1rem !important;
        font-weight: 400 !important;
        color: white !important;
        text-align: center;
        margin-bottom: 0px;
        line-height: 17px !important;
      }

      i {
        font-size: 5rem;
        text-align: center;
        color: white !important;
        margin-bottom: 10px;
      }
    }
  }

  .tab-content {
    border-radius: 0px;
    padding-bottom: 3rem;

    .tab-pane {
      text-align: center;

      h1 {
        font-size: 2.3rem;
        font-weight: 700;
        text-decoration: underline;
        color: #2e3023;
      }

      h3 {
        font-size: 1.2rem;
        margin-bottom: 0px;
        text-transform: none;
        line-height: 2rem;
        font-weight: 400 !important;

        .img-text {
          display: inline-block;
          width: 5.5rem;
          margin-top: -4px;
        }
      }

      h4 {
        font-size: 1.2rem;
        margin-top: 10px;
        margin-bottom: 0px;
        font-weight: 500;

        .img-text {
          display: inline-block;
          width: 5rem;
          margin-top: -4px;
        }
      }

      p {
        font-size: 1.2rem;
        color: #2e3023;
        font-weight: 500;
        line-height: 2rem;
        margin-bottom: 0px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .title-benefits {
      color: #2e3023;
      font-size: 3rem !important;
      line-height: 2rem !important;
      font-weight: 700;
      letter-spacing: normal;
      margin-top: 1rem !important;
      margin-bottom: 3.5rem !important;

      .img-text {
        display: inline-block;
        width: 14rem;
        margin-top: -10px;
      }
    }

    .sub-title-benefits {
      color: #2e3023;
      font-size: 1.5rem !important;
      line-height: 2rem;
      font-weight: 500;
      letter-spacing: normal;
      margin-bottom: 2rem;

      .img-text {
        display: inline-block;
        width: 6rem;
        margin-top: -4px;
      }
    }

    .nav-pills {
      margin-bottom: 10px;

      .nav-link {
        padding: 1.5rem 0.5rem 1.5rem 0.5rem;
        border-radius: 0px;
        text-decoration: none;
        transition: all 0.4s linear;
        width: 25%;

        i {
          font-size: 4rem !important;
          text-align: center;
          color: #2e3023 !important;
          margin-bottom: 10px;
        }

        p {
          font-size: 1.3rem !important;
          font-weight: 600;
          text-align: center;
          margin-bottom: 5px;
          color: #2e3023 !important;
          transition: all 0.2s linear;
        }

        p.small {
          font-family: "Barlow";
          font-size: 1.1rem !important;
          font-weight: 400 !important;
          text-align: center;
          margin-bottom: 0px;
          line-height: 17px !important;
        }
      }

      .nav-link:hover {
        padding: 1.5rem 0.5rem 1.5rem 0.5rem;
        border-radius: 0px;
        text-decoration: none;
        transition: all 0.2s linear;

        i {
          font-size: 5rem;
          text-align: center;
          color: $primary;
          margin-bottom: 10px;
          transition: all 0.2s linear;
        }

        p {
          font-size: 1.3rem !important;
          font-weight: 600;
          text-align: center;
          margin-bottom: 5px;
          transition: all 0.2s linear;
        }

        p.small {
          font-family: "Barlow";
          font-size: 1.1rem !important;
          font-weight: 400 !important;
          text-align: center;
          margin-bottom: 0px;
          line-height: 17px !important;
        }
      }

      .nav-link.active {
        padding: 1.5rem 0.5rem 1.5rem 0.5rem;
        text-decoration: none;
        background-color: transparent;

        img {
          // filter: brightness(0) invert(1);
          filter: invert(54%) sepia(80%) saturate(4714%) hue-rotate(4deg)
            brightness(94%) contrast(102%);
          transition: all 0.2s linear;
        }

        p {
          font-size: 1.3rem !important;
          font-weight: 600;
          color: $primary !important;
          text-align: center;
          margin-bottom: 5px;
        }

        p.small {
          font-family: "Barlow";
          font-size: 1.1rem !important;
          font-weight: 400 !important;
          color: $secondary !important;
          text-align: center;
          margin-bottom: 0px;
          line-height: 17px !important;
        }

        i {
          font-size: 5rem;
          text-align: center;
          color: $primary !important;
          margin-bottom: 10px;
        }
      }
    }

    .tab-content {
      border-radius: 0px;
      padding-bottom: 3rem;

      .tab-pane {
        text-align: center;

        h1 {
          font-size: 2.3rem;
          font-weight: 700;
          text-decoration: underline;
        }

        h3 {
          font-size: 1.2rem;
          margin-bottom: 0px;
          text-transform: none;
          line-height: 2rem;
          font-weight: 400 !important;

          .img-text {
            display: inline-block;
            width: 5.5rem;
            margin-top: -4px;
          }
        }

        h4 {
          font-family: "Montserrat", sans-serif;
          font-size: 1.2rem;
          margin-top: 10px;
          margin-bottom: 0px;
          font-weight: 500;

          .img-text {
            display: inline-block;
            width: 5rem;
            margin-top: -4px;
          }
        }

        p {
          font-family: "Montserrat", sans-serif;
          font-size: 1.2rem;
          color: #2e3023;
          font-weight: 500;
          line-height: 2rem;
          margin-bottom: 0px;
        }
      }
    }
  }
}

#certificates {
  margin-bottom: 0px !important;
  background-color: $secondary !important;

  .title-certificates {
    text-align: center;
    font-size: 2.3rem !important;
    line-height: 2rem;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    color: $primary !important;
  }

  .sub-title-certificates {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: normal;

    .img-text {
      display: inline-block;
      width: 5rem;
      margin-top: -5px;
    }
  }

  @media screen and (min-width: 768px) {
    .title-certificates {
      text-align: center;
      font-size: 2.3rem !important;
      font-weight: 700 !important;
      letter-spacing: 1px !important;
      color: $primary !important;
      line-height: 2rem;
      margin-bottom: 0.5rem !important;
    }

    .sub-title-certificates {
      color: white;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 2rem;
      letter-spacing: normal;

      .img-text {
        display: inline-block;
        width: 6rem;
        margin-top: -4px;
      }
    }
  }
}

#about-us {
  margin-bottom: 0px !important;
  background-color: $secondary !important;

  .card-blur {
    background-color: rgba($color: #000000, $alpha: 0.8);
    padding: 2rem;
    backdrop-filter: blur(2px);
  }

  .title-about-us {
    text-align: center;
    font-size: 2.3rem !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    color: white !important;

    .img-text {
      display: inline-block;
      width: 5.5rem;
      margin-top: 0px;
    }
  }

  .sub-title-about-us {
    p {
      color: white;
      font-size: 1.2rem !important;
      font-weight: 400 !important;
      line-height: 2.3rem;
      letter-spacing: normal;

      .img-text {
        display: inline-block;
        width: 6rem;
        margin-top: -4px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .title-about-us {
      text-align: center;
      font-size: 2.3rem !important;
      font-weight: 700 !important;
      letter-spacing: 1px !important;
      color: white !important;

      .img-text {
        display: inline-block;
        width: 13rem;
        margin-top: -10px;
      }
    }

    .sub-title-about-us {
      color: white;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 2rem;
      letter-spacing: normal;

      .img-text {
        display: inline-block;
        width: 5.5rem;
        margin-top: 0px;
      }
    }
  }
}

#mission {
  .mission-image {
    background: white url("../img/bg-mission.webp") no-repeat;
    background-position: center !important;
    background-size: cover;
    height: 300px;

    @media screen and (min-width: 768px) {
      background-size: cover;
      height: 500px;
    }
  }

  .vision-image {
    background: white url("../img/bg-vision.webp") no-repeat;
    background-position: 0px top !important;
    background-size: cover;
    height: 300px;

    @media screen and (min-width: 768px) {
      background-size: cover;
      height: 500px;
    }
  }

  .title-mission {
    text-align: center;
    font-size: 2.3rem !important;
    line-height: 2.3rem !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    color: $primary !important;
    margin: 1rem 0rem 1rem 0rem;
  }

  .sub-title-mission {
    color: #2e3023;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 2rem;

    li {
      line-height: 2rem !important;
    }

    .img-text {
      display: inline-block;
      width: 6rem;
      margin-top: -4px;
    }
  }

  @media screen and (min-width: 768px) {
    .title-mission {
      text-align: center;
      font-size: 2.3rem !important;
      font-weight: 700 !important;
      letter-spacing: 1px !important;
      color: $primary !important;
      line-height: 2rem !important;
    }

    .sub-title-mission {
      color: #2e3023;
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: normal;
      line-height: 2rem !important;

      li {
        line-height: 2rem !important;
      }

      .img-text {
        display: inline-block;
        width: 5rem;
        margin-top: -5px;
      }
    }
  }
}

#footer {
  margin-top: 0px;
  background-color: $secondary;
  border-top: 2px white solid !important;

  .title {
    font-family: "Oswald", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    text-align: center;

    color: red;
    padding-top: 10px;
    letter-spacing: 3px;
  }

  p.title {
    font-family: "Oswald", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
    line-height: 1.5rem;
    margin-top: 1rem;
  }

  ul {
    li {
      // font-family: "Barlow", sans-serif !important;
      font-size: 1rem !important;
      color: $primary !important;
      font-weight: 700;
      text-align: center;
    }

    li {
      a {
        // font-family: "Barlow", sans-serif !important;
        font-size: 1.2rem !important;
        color: $primary !important;
        font-weight: 700;
        text-align: center !important;
      }

      a:hover {
        color: $link-primary-hover !important;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .title {
      font-family: "Oswald", sans-serif !important;
      font-size: 1.2rem;
      font-weight: 400;
      color: white;
      text-align: left;
    }

    p.title {
      font-family: "Oswald", sans-serif !important;
      font-size: 1rem;
      font-weight: 400;
      color: white;
      line-height: 2rem;
      margin-top: 1rem;
    }

    ul {
      li {
        // font-family: "Barlow", sans-serif !important;
        font-size: 1.2rem !important;
        color: $primary !important;
        font-weight: 700;
        text-align: left;
      }

      li {
        a {
          // font-family: "Barlow", sans-serif !important;
          font-size: 1.2rem !important;
          color: $primary !important;
          font-weight: 700;
          text-align: left;
        }

        a:hover {
          color: $link-primary-hover !important;
        }
      }
    }
  }

  .footer-copyright {
    background-color: $secondary !important;
    border-top: 2px white solid !important;

    p {
      font-family: "Oswald", sans-serif;
      color: white;
      font-weight: 400;
      font-size: 1rem;
    }
  }
}

#our-innovation {
  margin-bottom: 0px !important;
  background-color: $secondary !important;

  .card-blur {
    background-color: rgba($color: #000000, $alpha: 0.8);
    padding: 2rem;
    backdrop-filter: blur(2px);
  }

  .title-our-innovation {
    text-align: center;
    font-size: 2.3rem !important;
    font-weight: 700 !important;
    letter-spacing: normal !important;
    color: $primary !important;
  }

  .sub-title-our-innovation {
    p {
      color: white;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 2rem;
      letter-spacing: normal;

      .img-text {
        display: inline-block;
        width: 4rem;
        margin-top: -5px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .title-our-innovation {
      text-align: center;
      font-size: 2.3rem !important;
      font-weight: 700 !important;
      letter-spacing: 1px !important;
      color: $primary !important;
    }

    .sub-title-our-innovation {
      p {
        color: white;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2rem;
        letter-spacing: normal;

        .img-text {
          display: inline-block;
          width: 5rem;
          margin-top: 0px;
        }
      }
    }
  }
}

#innovation-1 {
  .innovation-1-image {
    background: white url("../img/IMAGE-3.jpg") no-repeat;
    background-position: center !important;
    background-size: cover;
    height: 300px;

    @media screen and (min-width: 768px) {
      background-size: cover;
      height: 510px;
    }
  }

  .title-innovation-1 {
    text-align: center;
    font-size: 2.3rem !important;
    line-height: 2rem !important;
    font-weight: 700 !important;
    letter-spacing: normal !important;
    color: $primary !important;
    margin: 1rem 0rem 1rem 0rem;
  }

  .sub-title-innovation-1 {
    color: #2e3023;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 2rem !important;

    .img-text {
      display: inline-block;
      width: 4rem;
      margin-top: -5px;
    }
  }

  @media screen and (min-width: 768px) {
    .title-innovation-1 {
      text-align: center;
      font-size: 2.3rem !important;
      font-weight: 700 !important;
      letter-spacing: 1px !important;
      color: $primary !important;
      line-height: 2rem !important;
    }

    .sub-title-innovation-1 {
      color: #2e3023;
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: normal;
      line-height: 2rem !important;

      li {
        line-height: 2rem !important;
      }

      .img-text {
        display: inline-block;
        width: 4rem;
        margin-top: -5px;
      }
    }
  }
}

#innovation-2 {
  margin-bottom: 0px !important;
  background-color: $secondary !important;

  .title-innovation-2 {
    text-align: center;
    font-size: 2.3rem !important;
    line-height: 2rem;
    font-weight: 700 !important;
    letter-spacing: normal !important;
    color: $primary !important;
    margin: 1rem 0rem 1rem 0rem;
  }

  .sub-title-innovation-2 {
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: normal;
    margin-bottom: 0px;

    .img-text {
      display: inline-block;
      width: 5rem;
      margin-top: -5px;
    }
  }

  @media screen and (min-width: 768px) {
    .title-innovation-2 {
      text-align: center;
      font-size: 2.3rem !important;
      font-weight: 700 !important;
      letter-spacing: 1px !important;
      color: $primary !important;
      line-height: 2rem;
      margin: 1rem 0rem 1rem 0rem;
    }

    .sub-title-innovation-2 {
      color: white;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 2rem;
      letter-spacing: normal;

      .img-text {
        display: inline-block;
        width: 6rem;
        margin-top: -4px;
      }
    }
  }
}

#our-method {
  margin-bottom: 0px !important;
  background-color: $secondary !important;

  .title-our-method {
    text-align: center;
    font-size: 2.3rem !important;
    line-height: 2.3rem !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    color: $primary !important;
  }

  @media screen and (min-width: 768px) {
    .title-our-method {
      text-align: center;
      font-size: 2.3rem !important;
      font-weight: 700 !important;
      letter-spacing: 1px !important;
      color: $primary !important;
      line-height: 2rem !important;
    }
  }
}

#icon-section {
  padding: 1rem 0rem 1rem 1rem;
  min-height: 63vw;

  .icon-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .icon-button {
      height: 13vw;

      .icon-pack {
        max-width: 11vw;
        margin-left: 50%;
        transform: translateX(-50%);
        transition: all 0.2s ease-in-out;
      }

      .icon-pack:hover {
        filter: drop-shadow(1px 2px 2px #3e3e3e);
      }

      p {
        width: 11vw;
        text-align: center;
        color: #2e3023;
        font-size: 1.8vw;
        font-weight: 500;
        line-height: 2vw;
        margin-top: 2px;
      }

      p:hover {
        text-decoration: underline;
        text-decoration-color: $primary;
      }
    }

    .icon-arrow {
      margin-top: 3vw;
      max-width: 5vw;
      height: 5vw;
    }

    .icon-arrow-turn-down {
      margin-top: 5vw;
      margin-right: 2vw;
      max-width: 5vw;
      height: 5vw;
    }
  }

  .icon-group-middle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: end;
    align-items: end;
    padding-top: 3vw;

    .icon-button {
      height: 13vw;

      .icon-pack {
        max-width: 11vw;
        margin-left: 50%;
        transform: translateX(-50%);
        transition: all 0.2s ease-in-out;
      }

      .icon-button:hover {
        filter: drop-shadow(1px 2px 2px #3e3e3e);
      }

      p {
        width: 11vw;
        text-align: center;
        color: #2e3023;
        font-size: 1.8vw;
        font-weight: 500;
        line-height: 2vw;
        margin-top: 2px;
      }

      p:hover {
        text-decoration: underline;
        text-decoration-color: $primary;
      }
    }
  }

  .icon-group-reverse {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5vw;

    .icon-button {
      height: 13vw;

      .icon-pack {
        max-width: 11vw;
        margin-left: 50%;
        transform: translateX(-50%);
        transition: all 0.2s ease-in-out;
      }

      .icon-pack:hover {
        filter: drop-shadow(1px 2px 2px #3e3e3e);
      }

      p {
        width: 11vw;
        text-align: center;
        color: #2e3023;
        font-size: 1.8vw;
        font-weight: 500;
        line-height: 2vw;
        margin-top: 2px;
      }

      p:hover {
        text-decoration: underline;
        text-decoration-color: $primary;
      }
    }

    .icon-arrow {
      margin-top: 3vw;
      max-width: 5vw;
      height: 5vw;
    }

    .icon-arrow-turn-down-left {
      margin-top: 3vw;
      margin-right: 1vw;
      max-width: 5vw;
      height: 5vw;
    }
  }
}

@media screen and (min-width: 768px) {
  #icon-section {
    padding: 3rem 2rem 3rem 3rem;
    min-height: 49vw;

    .icon-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .icon-button {
        height: 13vw;

        .icon-pack {
          max-width: 10vw;
        }

        img {
          margin-left: 50%;
          transform: translateX(-50%);
          transition: all 0.2s ease-in-out;
        }

        img:hover {
          filter: drop-shadow(1px 2px 2px #3e3e3e);
        }

        p {
          width: 10vw;
          text-align: center;
          color: #2e3023;
          font-size: 1vw;
          word-wrap: break-word;
          font-weight: 600;
          line-height: 1vw;
          margin-top: 10px;
        }

        p:hover {
          text-decoration: underline;
          text-decoration-color: $primary;
        }
      }

      .icon-arrow {
        margin-top: 1vw;
        max-width: 8vw;
        height: 8vw;
      }

      .icon-arrow-turn-down {
        margin-top: 5vw;
        margin-right: 2vw;
        max-width: 8vw;
        height: 8vw;
      }
    }

    .icon-group-middle {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: end;
      align-items: end;
      padding-top: 1vw;

      .icon-button {
        height: 13vw;

        .icon-pack {
          max-width: 10vw;
        }

        img {
          margin-left: 50%;
          transform: translateX(-50%);
          transition: all 0.2s ease-in-out;
        }

        img:hover {
          filter: drop-shadow(1px 2px 2px #3e3e3e);
        }

        p {
          width: 10vw;
          text-align: center;
          color: #2e3023;
          font-size: 1vw;
          word-wrap: break-word;
          font-weight: 600;
          line-height: 1vw;
          margin-top: 10px;
        }

        p:hover {
          text-decoration: underline;
          text-decoration-color: $primary;
        }
      }
    }

    .icon-group-reverse {
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      justify-content: space-between;

      .icon-button {
        height: 13vw;

        .icon-pack {
          max-width: 10vw;
        }

        img {
          margin-left: 50%;
          transform: translateX(-50%);
          transition: all 0.2s ease-in-out;
        }

        img:hover {
          filter: drop-shadow(1px 2px 2px #3e3e3e);
        }

        p {
          width: 10vw;
          text-align: center;
          color: #2e3023;
          font-size: 1vw;
          word-wrap: break-word;
          font-weight: 600;
          line-height: 1vw;
          margin-top: 10px;
        }

        p:hover {
          text-decoration: underline;
          text-decoration-color: $primary;
        }
      }

      .icon-arrow {
        margin-top: 1vw;
        max-width: 8vw;
        height: 8vw;
      }

      .icon-arrow-turn-down-left {
        margin-top: 0vw;
        margin-right: 1vw;
        max-width: 8vw;
        height: 8vw;
      }
    }
  }
}

#timeline {
  margin: 0px !important;
  padding: 50px 0px 50px 0px !important;

  #anchor_target {
    h1 {
      color: $primary;
      font-size: 2.3rem;
      font-weight: 700;
      text-align: center;
      line-height: 2.3rem;
    }

    p {
      color: whitesmoke;
      font-size: 1.2rem;
      font-weight: 400;
      text-align: center;
      line-height: 2rem;
    }
  }

  .timeline-box {
    border: 2px solid $primary !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

    h2 {
      color: $primary;
      font-size: 1.3rem !important;
      font-weight: 500 !important;
      line-height: 2rem;
      letter-spacing: normal;
    }

    p {
      // font-family: "Barlow", sans-serif;
      font-size: 0.9rem !important;
      font-weight: 500 !important;
      letter-spacing: normal;
      line-height: 2rem;
      text-align: justify;
      color: #2e3023 !important;
    }
  }

  @media screen and (min-width: 768px) {
    .timeline-box {
      border: 2px solid $primary !important;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

      h2 {
        color: $primary;
        font-size: 1.3rem !important;
        font-weight: 500 !important;
        line-height: 2rem;
        letter-spacing: normal;
      }

      p {
        // font-family: "Barlow", sans-serif;
        font-size: 1rem !important;
        font-weight: 500 !important;
        letter-spacing: normal;
        line-height: 2rem;
        text-align: justify;
        color: #2e3023 !important;
      }
    }
  }

  .timeline-box.left {
    h2 {
      text-align: left;
    }

    .timeline-box-arrow {
      border-top: 2px solid $primary !important;
      border-right: 2px solid $primary !important;
    }
  }

  .timeline-box.right {
    h2 {
      text-align: right;
    }

    .timeline-box-arrow {
      border-bottom: 2px solid $primary !important;
      border-left: 2px solid $primary !important;
    }
  }

  .timeline-date {
    background: none !important;
    border: none !important;
    width: 100% !important;
    margin-bottom: 50px !important;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.04) !important;

    .btn-primary {
      background-color: $btn-primary !important;
      // border-color: $btn-border-1 $btn-border-1 $btn-border-2 !important;
      border-color: $btn-primary !important;
      // font-family: "Barlow", sans-serif;
      font-size: 1rem;
      font-weight: 500;
      transition: all 0.2s ease, visibility 0s;
      min-width: 10px;
      width: 262px;
      height: 2.5rem !important;
      border-radius: 0;
      padding-top: 5px;
      letter-spacing: 2px;
    }

    @media screen and (min-width: 768px) {
      .btn-primary {
        background-color: $btn-primary !important;
        border-color: $btn-primary !important;
        font-size: 1.1rem;
        font-weight: 500;
        transition: all 0.2s ease, visibility 0s;
        min-width: 10px;
        width: 290px;
        height: 2.5rem !important;
        border-radius: 0;
        padding-top: 5px;
        letter-spacing: 2px;
      }
    }

    .btn-primary:hover {
      background-color: #f1f3ee !important;
      border-color: #2e3023 !important;
      color: #2e3023 !important;
    }
  }
}

#complete-system {
  .title-complete-system {
    color: #2e3023;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 2.3rem;
    letter-spacing: normal;
    text-align: center;

    .img-text {
      display: inline-block;
      width: 9rem;
      margin-top: -4px;
    }
  }

  p {
    font-weight: 500 !important;
    letter-spacing: normal;
    text-align: left;
    color: $secondary !important;
    font-size: 1.2rem;
    line-height: 2rem;

    .img-text {
      display: inline-block;
      width: 5.5rem;
      margin-top: -5px;
      margin-left: 3px;
      margin-right: 3px;
    }
  }

  ul > li {
    font-weight: 500 !important;
    letter-spacing: normal;
    text-align: left;
    color: $secondary !important;
    font-size: 1.2rem;
    line-height: 2rem;
  }

  @media screen and (min-width: 768px) {
    .title-complete-system {
      color: #2e3023;
      font-size: 2.3rem;
      font-weight: 700;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;

      .img-text {
        display: inline-block;
        width: 9rem;
        margin-top: -6px;
      }
    }

    p {
      font-weight: 500 !important;
      letter-spacing: normal;
      text-align: left;
      color: $secondary !important;
      font-size: 1.2rem;
      line-height: 2rem;

      .img-text {
        display: inline-block;
        width: 5rem;
        margin-top: -4px;
        margin-left: 3px;
        margin-right: 3px;
      }
    }

    ul > li {
      font-weight: 500 !important;
      letter-spacing: normal;
      text-align: left;
      color: $secondary !important;
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }
}

#nutritional-properties {
  margin-bottom: 0px !important;
  background-color: $secondary !important;

  .title-nutritional-properties {
    text-align: center;
    font-size: 2.3rem !important;
    font-weight: 700 !important;
    letter-spacing: normal !important;
    color: $primary !important;
    line-height: 2.3rem;
  }

  .subtitle-nutritional-properties {
    text-align: center;
    font-size: 1.2rem !important;
    font-weight: 400 !important;
    letter-spacing: normal !important;
    color: white !important;
    line-height: 2rem;

    .img-text {
      display: inline-block;
      width: 6rem;
      margin-top: -5px !important;
    }
  }

  @media screen and (min-width: 768px) {
    .title-nutritional-properties {
      text-align: center;
      font-size: 2.3rem !important;
      font-weight: 700 !important;
      letter-spacing: 1px !important;
      color: $primary !important;
    }

    .subtitle-nutritional-properties {
      text-align: center;
      font-size: 1.2rem !important;
      font-weight: 400 !important;
      letter-spacing: 1px !important;
      color: white !important;

      .img-text {
        display: inline-block;
        width: 6rem;
        margin-top: -6px !important;
      }
    }
  }
}

#nutritional-table {
  margin-bottom: 0px !important;
  background-color: #f1f3ee !important;

  .title-nutritional-properties {
    text-align: center;
    font-size: 2.6rem !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    color: $primary !important;
  }

  .subtitle-nutritional-properties {
    text-align: center;
    font-size: 1.5rem !important;
    font-weight: 400 !important;
    letter-spacing: 1px !important;
    color: white !important;

    .img-text {
      display: inline-block;
      width: 9rem;
      margin-top: -8px !important;
    }
  }

  .text-info-1 {
    color: white !important;
    margin: 0px;
    font-size: 1rem;
  }

  .text-info-2 {
    color: #2e3023 !important;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
  }

  .li-info {
    color: #2e3023 !important;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;

    .img-text {
      display: inline-block;
      width: 6rem;
      margin-top: -4px;
    }
  }

  @media screen and (min-width: 768px) {
    .text-info-2 {
      font-size: 1.2rem !important;
    }

    .li-info {
      color: #2e3023 !important;
      margin: 10px;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 2rem;

      .img-text {
        display: inline-block;
        width: 5rem;
        margin-top: -4px;
      }
    }
  }

  .card {
    background-color: $secondary;

    .img-text {
      display: inline-block;
      width: 4rem;
      height: 100%;
      margin-top: -4px !important;
      // margin-left: 10px;
    }

    .dataTables_length {
      color: whitesmoke;
    }

    .table_filter {
      color: whitesmoke !important;
    }

    .dataTables_filter {
      color: whitesmoke !important;
    }

    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus,
    .pagination .page-item.active .page-link {
      background-color: $btn-border-1 !important;
      border-color: $btn-border-2;
      color: whitesmoke;
    }

    .pagination > a,
    .pagination > a:hover,
    .pagination > a:focus,
    .pagination > li > a,
    .pagination > li > span,
    .pagination > li > a:hover,
    .pagination > li > span:hover,
    .pagination > li > a:focus,
    .pagination > li > span:focus {
      color: $primary;
    }

    #table_info {
      color: white !important;
    }

    table {
      position: relative;
      border-collapse: collapse;

      thead {
        background-color: $primary;

        tr {
          th {
            color: whitesmoke !important;
            font-size: 0.8rem !important;
            position: sticky !important;
            top: 0px !important;
            box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4) !important;
            border-color: whitesmoke;
          }
        }
      }

      tbody {
        tr {
          td {
            color: white;
            font-size: 0.8rem !important;
            border-color: whitesmoke;
          }
        }
      }
    }

    @media screen and (min-width: 768px) {
      table {
        thead {
          tr {
            th {
              color: $primary;
              font-size: 1.2rem;
            }
          }
        }

        tbody {
          tr {
            td {
              color: white;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
}

#contact-us {
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.3rem;
    font-weight: 700;
    letter-spacing: normal;
    margin-top: 50px;
  }

  .img-text {
    display: inline-block;
    width: 6rem;
    margin-top: -3px;
  }

  @media screen and (min-width: 768px) {
    h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 2.3rem;
      font-weight: 500;
      letter-spacing: normal;
    }

    .p-md-5 {
      padding: 3rem !important;
    }

    .img-text {
      display: inline-block;
      width: 6rem;
      margin-top: -3px;
    }
  }

  p {
    // font-family: "Barlow", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: normal;
    color: #2e3023;
  }

  a {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: normal;
    color: #2e3023;
  }

  @media screen and (min-width: 768px) {
    a {
      // font-family: "Barlow", sans-serif;
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: normal;
      color: #2e3023;
    }
  }

  .secondary {
    background-color: $secondary;
    padding: 40px;

    label {
      font-size: 1.2rem;
      color: white;
      // font-family: "Barlow", sans-serif;
      margin-bottom: 5px;
    }

    input {
      font-size: 0.8rem;
      color: white;
      // font-family: "Barlow", sans-serif;
      border: 1px solid white;
      background-color: transparent;
      border-radius: 0;
    }

    textarea {
      font-size: 0.8rem;
      color: white;
      // font-family: "Barlow", sans-serif;
      border: 1px solid white;
      background-color: transparent;
      border-radius: 0;
    }

    .btn-primary {
      // font-family: "Barlow", sans-serif;
      background-color: $primary;
      border-radius: 0;
      border: 1px solid $btn-border-2;
      letter-spacing: normal;
      font-weight: 700 !important;
      font-size: 1.2rem;
    }

    .btn-primary:hover {
      // font-family: "Barlow", sans-serif;
      background-color: transparent;
      border-radius: 0;
      border: 1px solid $btn-border-2;
    }
  }
}

a.scroll-to-top:hover {
  color: $link-primary-hover;
}

#step-method {
  .accordion-header {
    .accordion-button {
      background-color: #ff791f;
      color: whitesmoke;
      font-weight: 600;
      font-size: 1.2rem;

      img {
        width: 50px;
        margin-right: 1rem;
      }
    }

    .accordion-button::after {
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
    }

    .accordion-button:focus {
      border-color: #ff791f !important;
      box-shadow: 0 0 0 0.25rem rgba(255, 121, 31, 0.25);
    }
  }

  .accordion-body {
    p {
      font-size: 1rem;
      color: #2e3023 !important;
      font-weight: 400;
    }
  }
}
