$primary: #d15a0b;
$secondary: #393d32;
$link-primary: #e4b896;
$link-primary-hover: #e9cbb3;
$btn-primary: #d15a0b;
$btn-border-1: #d15a0b;
$btn-border-2: #8a3d0a;
$base: #eef0e9;

:root {
  --bs-primary: $primary !important;
  --bs-link-color: $primary !important;
}

body {
  font-family: "Oswald", Arial, sans-serif !important;
  background-color: #f1f3ee !important;

  section.section-primary {
    background-color: #393d32 !important;
  }
}

.owl-carousel {
  .owl-nav {
    .owl-prev:before {
      border-color: $btn-border-2 $btn-border-2 $btn-border-2 !important;
    }
    .owl-prev:after {
      border-color: $btn-border-2 $btn-border-2 $btn-border-2 !important;
    }
    .owl-next:before {
      border-color: $btn-border-2 $btn-border-2 $btn-border-2 !important;
    }
    .owl-next:after {
      border-color: $btn-border-2 $btn-border-2 $btn-border-2 !important;
    }
  }

  .owl-dots {
    .owl-dot.active span {
      background-color: $btn-border-2 !important;
    }
  }
}

#header {
  .header-btn-collapse-nav {
    background-color: $primary;
  }

  .header-body {
    background-color: #f1f3ee !important;

    .img-logo {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 200px;
      padding-left: 0px;
    }

    @media screen and (min-width: 768px) {
      padding-left: 50px;
    }

    nav {
      ul {
        margin-top: 15px;

        li {
          padding: 7px 0px;
          background-color: transparent;

          a {
            color: black !important;
            padding: 9px;
          }
        }

        li.active {
          background-color: $link-primary;

          a {
            color: black;
            background-color: inherit;
          }
        }

        li:hover {
          background-color: $link-primary-hover !important;
        }

        li.active {
          background-color: $link-primary !important;
        }
      }

      @media screen and (min-width: 768px) {
        ul {
          height: 70px !important;
          margin-top: 15px;
        }
      }
    }
  }
}

#hero {
  .home-title {
    font-size: 65px !important;
    font-weight: 500 !important;
    letter-spacing: 1px !important;
  }
}

#discover-our-method {
  .img-text {
    display: inline-block;
    width: 10rem;
  }

  .title-discover-method {
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
  }

  .btn-primary {
    background-color: $btn-primary !important;
    border-color: $btn-border-1 $btn-border-1 $btn-border-2 !important;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.2s ease, visibility 0s;
    min-width: 10px;
    width: 262px;
    height: 40px;
    border-radius: 0;
    padding-top: 5px;
    letter-spacing: 2px;
  }

  .btn-primary:hover {
    background-color: transparent !important;
    border-color: black !important;
    color: black !important;
  }
}

#we-care {
  .title-pos {
    text-align: center;
    font-size: 2.7rem !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    color: $primary !important;
  }

  .list-pos {
    padding: 0 0px;

    p {
      color: white !important;
      font-size: 1rem;
      font-family: "Barlow", sans-serif;
      font-weight: 400;
    }
  }
}

#benefits {
  .title-benefits {
    color: #2e3023;
    font-size: 2.7rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;

    .img-text {
      display: inline-block;
      width: 15rem;
      margin-top: -12px;
    }
  }

  .sub-title-benefits {
    color: #2e3023;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;

    .img-text {
      display: inline-block;
      width: 8rem;
      margin-top: -12px;
    }
  }

  .text-carousel {
    margin-bottom: 0.5px;

    h2 {
      color: $primary !important;
      font-size: 1.2rem !important;
      font-weight: 400;
      margin: 0px;
      line-height: 22px;
      text-justify: inter-word !important;
      width: 100% !important;
      letter-spacing: 0.1px;
    }

    p {
      font-family: "Barlow", sans-serif !important;
      color: $secondary !important;
      font-size: 1.2rem !important;
      font-weight: 400;
      margin: 0px;
      text-align: justify !important;
      text-justify: inter-word !important;
      width: 100% !important;
      letter-spacing: 0.2px;

      .img-text {
        display: inline-block;
        width: 5rem;
        margin-top: -4px;
      }
    }
  }
}

#applications {
  .title-applications {
    color: #2e3023;
    font-size: 2.7rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;

    .img-text {
      display: inline-block;
      width: 15rem;
      margin-top: -12px;
    }
  }

  .sub-title-applications {
    color: #2e3023;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;

    .img-text {
      display: inline-block;
      width: 7rem;
      margin-top: 0px;
    }
  }

  .svg-wrapper {
    width: 25% !important;
    height: auto;
    min-height: 70px;
    margin-bottom: 10px;
  }

  .application-point-title {
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: $primary;
    text-align: center;
    margin-bottom: 10px;
    line-height: 28px;
  }

  .application-point-sub-title {
    font-family: "Barlow", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: $secondary;
    text-align: center;
    line-height: normal;
  }
}

#certificates {
  margin-bottom: 0px !important;
  background-color: $secondary !important;

  .title-certificates {
    text-align: center;
    font-size: 2.7rem !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    color: $primary !important;
  }

  .sub-title-certificates {
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;

    .img-text {
      display: inline-block;
      width: 7rem;
      margin-top: 0px;
    }
  }
}

#about-us {
  margin-bottom: 0px !important;
  background-color: $secondary !important;

  .title-about-us {
    text-align: center;
    font-size: 2.7rem !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    color: $primary !important;
  }

  .sub-title-about-us {
    p {
      color: white;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: normal;
      letter-spacing: normal;

      .img-text {
        display: inline-block;
        width: 5rem;
        margin-top: 0px;
      }
    }
  }
}

#mission {
  .flask {
    background: white url("../img/COCO-flask.jpeg") no-repeat left center;
    background-size: cover;
    height: 500px;
  }

  .title-mission {
    text-align: center;
    font-size: 2.7rem !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    color: $primary !important;
  }

  .sub-title-mission {
    color: $secondary;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: normal;

    li {
      line-height: 30px !important;
    }

    .img-text {
      display: inline-block;
      width: 5rem;
      margin-top: 0px;
    }
  }
}

#footer {
  margin-top: 0px;
  background-color: $secondary;
  border-top: 2px white solid !important;

  .title {
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
  }

  ul {
    li {
      font-family: "Barlow", sans-serif !important;
      font-size: 1rem !important;
      color: $primary !important;
    }

    li {
      a {
        font-family: "Barlow", sans-serif !important;
        font-size: 1rem !important;
        color: $primary !important;
      }

      a:hover {
        color: $link-primary-hover !important;
      }
    }
  }

  .footer-copyright {
    background-color: $secondary !important;
    border-top: 2px white solid !important;

    p {
      font-family: "Oswald", sans-serif;
      color: white;
      font-weight: 400;
      font-size: 1rem;
    }
  }
}

#our-story {
  margin-bottom: 0px !important;
  background-color: #f1f3ee !important;
  background: url("../img/bg-our-story.jpg") no-repeat left top;
  background-size: 620px;
  width: 100%;

  .custom-card {
    background-color: $secondary;

    .custom-card-body {
      padding: 20px;

      @media screen and (min-width: 768px) {
        padding: 50px;
      }

      h1.title-our-story {
        text-align: left;
        font-size: 2.4rem !important;
        font-weight: 500 !important;
        letter-spacing: 1px !important;
        color: $primary !important;
        margin: 0 0 14px 0 !important;
        line-height: 44px;
      }

      .sub-title-our-story {
        font-family: "Barlow", sans-serif;
        color: white;
        font-size: 1rem !important;
        font-weight: 400;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        margin-bottom: 20px;

        .img-text {
          display: inline-block;
          width: 5rem;
          margin-top: 0px;
        }
      }
    }
  }
}

#story-1 {
  margin: 0px;
  .story-wrapper {
    padding: 20px;
    @media screen and (min-width: 768px) {
      padding: 0px 150px 20px 150px;
    }

    h1.title-story-1 {
      text-align: left;
      font-size: 2.4rem !important;
      font-weight: 500 !important;
      letter-spacing: 1px !important;
      color: $primary !important;
      margin-bottom: 14px !important;
      line-height: 44px;
    }

    .sub-title-story-1 {
      font-family: "Barlow", sans-serif;
      color: white;
      font-size: 1rem !important;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: normal;
      text-align: left;
      margin-bottom: 14px;

      .img-text {
        display: inline-block;
        width: 5rem;
        margin-top: 0px;
      }
    }
  }
}

#our-method {
  margin-bottom: 0px !important;
  background-color: $secondary !important;

  .title-our-method {
    text-align: center;
    font-size: 2.7rem !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
    color: $primary !important;
  }
}

.timeline {
  background-color: $base;
  margin: 0px !important;
  padding: 50px 0px 5px 0px !important;

  .timeline-box:before {
    background: $primary !important;
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px $primary !important;
  }

  .timeline-box {
    border: 2px solid $primary !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

    h2 {
      color: $primary;
      font-weight: 500 !important;
      letter-spacing: normal;
    }

    p {
      font-family: "Barlow", sans-serif;
      font-weight: 600 !important;
      letter-spacing: normal;
      text-align: justify;
      color: $secondary !important;
    }
  }

  .timeline-box.left {
    h2 {
      text-align: left;
    }

    .timeline-box-arrow {
      border-top: 2px solid $primary !important;
      border-right: 2px solid $primary !important;
    }
  }

  .timeline-box.right {
    h2 {
      text-align: right;
    }

    .timeline-box-arrow {
      border-bottom: 2px solid $primary !important;
      border-left: 2px solid $primary !important;
    }
  }

  .timeline-date {
    background: none !important;
    border: none !important;
    width: 100% !important;
    margin-bottom: 50px !important;

    .btn-primary {
      background-color: $btn-primary !important;
      border-color: $btn-border-1 $btn-border-1 $btn-border-2 !important;
      font-family: "Barlow", sans-serif;
      font-size: 1.1rem;
      font-weight: 500;
      transition: all 0.2s ease, visibility 0s;
      min-width: 10px;
      width: 262px;
      height: 40px;
      border-radius: 0;
      padding-top: 5px;
      letter-spacing: 2px;
    }

    .btn-primary:hover {
      background-color: transparent !important;
      border-color: black !important;
      color: black !important;
    }
  }
}

#compete-system {
  .title-compete-system {
    color: #2e3023;
    font-size: 2.7rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;

    .img-text {
      display: inline-block;
      width: 15rem;
      margin-top: -12px;
    }
  }

  p {
    font-family: "Barlow", sans-serif;
    font-weight: 600 !important;
    letter-spacing: normal;
    text-align: left;
    color: $secondary !important;
    font-size: 1rem;

    .img-text {
      display: inline-block;
      width: 5rem;
      margin-top: -5px;
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  ul > li {
    font-family: "Barlow", sans-serif;
    font-weight: 600 !important;
    letter-spacing: normal;
    text-align: left;
    color: $secondary !important;
    font-size: 1rem;
  }
}
